[*.cs]

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# SA1136: Enum values should be on separate lines
dotnet_diagnostic.SA1136.severity = none

# SA1117: Parameters should be on same line or separate lines
dotnet_diagnostic.SA1117.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none
